.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
docs/**
keys/**
test-results/**
.gitignore
.npmrc
.yarnrc
esbuild.js
vitest.config.mts
vitest.live.config.mts
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
